# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
tfplan
*.tfplan
crash.log
crash.*.log
.terraform.lock.hcl

# OCI / SSH
*.pem
*.key
oci_api_key*

# Secrets
.env
*.env
secrets/
**/wazuh_indexer_ssl_certs/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
